<!DOCTYPE html>
<html>
    <head>
        <title> Brandon's Portfolio </title>
        <% include ./header.ejs %>
    </head>
    <body>
        <div>
            I am <%= person.firstName %> <%= person.lastName %>
        </div>
        
        <% include ./footer.ejs %>
    </body>
</html>