<!DOCTYPE html>
    <html>
    <head>
        <title>Brandon Thanks You</title>
        <% include ./header.ejs %>
    </head>
    <body>
        <div>
            Thank you <%= contact.firstName %> <%= contact.lastName %>.
        </div>

        <% include ./footer.ejs %>
    </body>
</html>